body {
    background-image: url("./assets/images/cool-blue-background.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    min-height: 98vh;
    justify-content: center;
    align-content: center;
    background-color: darkblue;
}

/* text stuff */
#warning-message {
    color: red;
}

p {
    font-family: "Encode Sans Expanded", serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: "Radio Canada", serif;
    font-size: 3rem;
    color: rgb(80, 66, 211);
    margin-bottom: 1%;
    grid-column: span 6;
}
@media (max-width: 576px) {
    h1 {
        text-align: center;
    }
}
.own-row {
    grid-column: span 6;
}



/* grid stuff */

#checkout-container {
    display: grid;
    grid-template: 120px 40px 80px / repeat(6, auto);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    background-color: white;
    padding: 3%;
    border-radius: 5%;
    height: 550px;
    width: 600px;
}
@media (max-width: 576px) {
    #checkout-container {
        display: grid;
        grid-template: 150px 40px 80px / repeat(6, auto);
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        background-color: white;
        padding: 3%;
        border-radius: 5%;
        height: 550px;
        width: 600px;
    }
}

.span-2 {
    grid-column: span 2;
}
.span-3 {
    grid-column: span 3;
}
.span-4 {
    grid-column: span 4;
}
.span-6 {
    grid-column: span 6;
}

/* flex stuff */
#flex-cont-1 {
    display: flex;
    justify-content: space-around;
}

#flex-cont-1 img{
    height: 20px;
    margin-right: 3%;
    border: 1px solid rgba(128, 128, 128, 0.603);
    border-radius: 5%;
    padding: 2%;
}


/* all other styling things */
input {
    margin: 2%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 1%;
}
#check-box {
    margin: 2%;
}
#check-out {
    margin: 2%;
}
button {
    font-family: "Encode Sans Expanded", serif;
    margin-bottom: 2%;
    background-color: rgb(26, 26, 102);
    border: none;
    padding: 2%;
    color: white;
    border-radius: 3%;
}



/* font stuff */
.radio-canada-normal {
    font-family: "Radio Canada", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.encode-sans-expanded-medium {
    font-family: "Encode Sans Expanded", serif;
    font-weight: 500;
    font-style: normal;
}
